# ======================
# Secrets / Environment
# ======================
.env
.env.*

# ======================
# Logs
# ======================
/logs/**

# ======================
# IDE / Editor
# ======================
.idea/*
!.idea/codeStyles/
*.iml
.project
.classpath
.settings
/out
/nbproject/

# ======================
# Build Artifacts
# ======================
/target
/build/
/dist/
*.onetoc2

# ======================
# OS Files
# ======================
.DS_Store

# ======================
# Database Volumes
# ======================
database/docker-db-data
database/docker-pg-db-data

# ======================
# Game Assets
# ======================
/wz/
